
.home-container {
    max-width: 900px;
    margin: 100px auto;
    padding: 0 20px;
    text-align: center;
    position: relative;
    min-height: 100vh;
}

.hero-section-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: 40px;
    position: relative;
    padding: 70px 50px;
}
.hero-text {
    flex: 1;
    font-weight: bold;
    font-size: 2rem;
}
.hero-image img {
    width: 150px;
    height: auto;
    border-radius: 10px;
}
.hero-image {
    display: flex;
    gap: 15px;
    z-index: 1; /* above the circle */
}
.hero-image-wrapper {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-orange-circle {
    position: absolute;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: darkorange;
    z-index: 0;
}

.home-title {
    margin-bottom: 40px;
}

.home-title h1{
    font-size: 2.5rem;
}

.home-title h4{
    color: #555;
    font-size: 1rem;
}

.brand-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.brand-item {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 15px 10px;
    background-color: #fff;
    transition: background-color 0.2s ease;
}

.brand-item:hover {
    background-color: #f9f9f9;
}

.brand-logo {
    width: 150px;
    height: auto;
}

.brand-link {
    color: #222;
    font-weight: 600;
    font-size: 1.1rem;
    text-decoration: none;
    display: block;
}

.brand-link:hover {
    background-color: #f0f0f0;
}

.features-section {
    position: relative;
    /*margin: 60px 0 100px;*/
    margin-top: 50px;
}

.features-line {
    height: 200px;
    background-color: black;
    width: 100%;
    border-radius: 6px;
}

.features-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 70%;
    color: white;
    font-weight: 200;
    font-size: 0.9rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    user-select: none;
}

.feature {
    flex: 1;
    text-align: center;
}



.browse-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}
.orange-text {
    color: orange;
}

.div-header{
    padding-bottom: 100px;
}

/*.div-header .big-circle {*/
/*    width: 650px;       !* original circle size *!*/
/*    height: 650px;*/
/*    border-radius: 50%;*/
/*    overflow: hidden;*/
/*    position: relative;  !* ensures proper stacking *!*/
/*}*/

/*.div-header .big-circle img {*/
/*    width: 100%;        !* fill the circle *!*/
/*    height: 100%;*/
/*    object-fit: cover;  !* cover the whole circle *!*/
/*    border-radius: 50%; !* keep it circular *!*/
/*    max-width: none;    !* override header.css restriction *!*/
/*    max-height: none;   !* override header.css restriction *!*/
/*}*/

